<h2 id='title' class="text-primary">Welcome to Boston Ember</h2>


<div class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li>{{link-to 'Home' 'application'}}</li>
		<li>{{link-to 'About' 'about'}}</li>
		<li>{{link-to 'Speakers' 'speakers'}}</li>
		<li>{{link-to 'Presentations' 'presentations'}}</li>
	</ul>
</div>


{{outlet}}